.figures {
  height: 100%;
  width: 200px;
  border: 2px solid black;
}

.figures__title {
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  background-color: gainsboro;
  text-align: center;
  margin: 0;
  line-height: 2;
  border-bottom: 2px solid black;
  user-select: none;
}

