.circle {
  background-color: navy;
  border-radius: 60%;
  border: 1px solid black;
  height: 60px;
  width: 140px;
  cursor: grab;
  position: absolute;
}

.square {
  background-color: green;
  border: 1px solid black;
  height: 60px;
  width: 140px;
  cursor: grab;
  position: absolute;
}